<!DOCTYPE HTML>
<html>
<head>
    <title>Login Success</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body class="container">
<h3>
    <div class="label label-info">
        Welcome, <span th:text="${name}">user</span>!
    </div>
    <h3>Claims</h3>
    <p>
        <span th:text="${claims}">user</span>
    </p>

    <h3>User Info</h3>
    <p>
        <span th:text="${userinfo}">user</span>
    </p>

    <h3>Key</h3>
    <p>
        <span th:text="${key}">user</span>
    </p>

</h3>


<a href="/logout" class="btn btn-default">log out</a>

</body>
</html>